body {
    background-image: url("./../img/back.jpg");
    background-color: darkcyan;
    background-repeat: repeat;
    background-size: 80%;
    align-content: center;
}

.mainCardContainer{
    margin: 10px auto;
    width: 300px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}
.mainCardContainer > *{
    margin: 0 auto;
}

.userCardAvatarContainer{
    position: sticky;
    width: max-content;
    height: max-content;
    border: 4px solid white;
    border-radius: 50%;
    margin-bottom: -64px;
}

.userCardAvatar{
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid purple;
}
.userCardAvatar > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.userCardContainer{
    width: 300px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 7px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.userHeader{
    padding-top: 78px;
}

.userHeader > h2,h4,h5{
    margin: 5px auto 0;
}
.userHeader > h2{
    font-weight: 200;
    color: rgb(90,90,90);
}
.userHeader > h4{
    font-weight: 300;
    font-style: italic;
    color: grey;
}
.userHeader > h5{
    font-weight: 300;
    color: grey;
}

h5 > img{
    vertical-align: sub;
    width: 14px;
    height: 14px;
}

.userCardContainer > hr{
    margin-top: 10px;
    background-color: grey;
    opacity: 0.1;
    width: 80%;
    border-radius: 3px;
}

.userSocialMedia{
    margin: 15px auto 0;
}

.userSocialMedia > h3 {
    font-weight: 200;
    color: grey;
    margin: 5px auto 5px;
}

.userFriends{
    height: content-box;
    vertical-align: middle;
    width: 100%;
    display: flex;
    justify-content: center;
}
.friendImage{
    margin: 0 2px;
    float: left;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}
.friendImage > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.userIcons{
    vertical-align: middle;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 25px auto 0;
}
.iconsImage{
    width: 26px;
    height: 26px;
}

.iconsImage > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.verticalLine{
    border-left: 1px solid rgba(100,100,100,0.2);
    height: 46px;
    margin: -10px 6px 0;
}

.userButtons{
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
}

.userButtons > button{
    font-size: 12px;
    font-weight: 600;
    width: 90px;
    height: 30px;
    margin: 0 12px;
    border-radius: 20px;
    opacity: 0.6;
}